body {
	background-image: url("https://cdn.stocksnap.io/img-thumbs/280h/T8JB5N55MP.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.controls {
	display: flex;
	justify-content: space-evenly;
	font-size: 30px;
}
.button {
	text-decoration: none;
}
.stopwatch {
	display: flex;
	justify-content: center;
	font-size: 30px;
}